* {
    box-sizing: border-box;
}

.main-header {
    background: #5e068a none repeat scroll 0 0;
    width: 100%;
}

.nav-item {
    position: relative;
    margin: 5px;
}

.nav-link::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #5e068a;
    position: absolute;
    top: 35px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.30s ease-out;

}

.nav-link:hover::after {
    width: 100px;
    transform: scaleX(1);
    transform-origin: left right;

}

.main-carousel {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: black;
}

.carous-opacity {
    opacity: 0.4;
}
.heading-first{
    position:absolute;
    top:15%;
    left: 15%;
    width:80%;
}
.heading-second{
    position:absolute;
    top:15%;
    left: 15%;
    width:80%;
}

.heading h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.carouesl-btn{
    width:70%;
    height: 20%;
    margin-top: 25px;

}
.txt-animation{
    animation: slide-up 2s;
}
@keyframes slide-up{
    from{
        opacity: 0.2;
        line-height: 70px;
    }
    to{
        opacity:1;
        line-height: 50px;
    }

}
.btn-main{
    width:200px;
    height:60px;
    background: #5e068a;
    border: none;
    border-radius: 40px;
    color:white;
    font-size: 16px;
    font-weight:bolder;

}
.txt-heading{
    color: #5e068a;
}
.txt-sub-heading{
    color: #5e068a;
}
.btn-txt{
    width:170px;
    height:60px;
    background: #5e068a;
    border:2px solid #5e068a;
    border-radius: 40px;
    color:white;
    font-weight: bolder;
    font-size: 14px;
    margin-top:20px ;
    transition: transform 0.3s ease-in;
    
}
.btn-txt:hover{
    background-color: white;
    color: #5e068a;
}
.sec-fs{
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
}
.txt-our{
    opacity: .8;
    font-size: 20px;
    text-align: center;
    color: #5e068a;
    font-family:Arial, Helvetica, sans-serif;
}
.txt-big-data{
    color: #5e068a;
}
.btn-crs{
    width: 120px;
    height:40px;
    background:#5e068a;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    border: none;
}
.cr-h{
    height: 270px;
}
.card-amination{
    box-shadow: 0 0 0 1px white;
    transition: 0.2s all;
    border: none;
    transform: scale(1);
}
.card-amination:hover{
    box-shadow: 3px 3px 3px 3px gray;
    cursor: pointer;
    border: none;
    transform: scale(1.01);
}   
.btn-txt-btm{
    width:170px;
    height:60px;
    background:white;
    border:2px solid #5e068a;
    border-radius: 40px;
    color:#5e068a;
    font-weight: bolder;
    font-size: 14px;
    margin-top:20px ;
    transition: transform 0.3s ease-in;

}
.btn-txt-btm:hover{
    background-color:#5e068a;
    color: white;
}
.bottom-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;

}
.slid-bar{
    width: 100%;
    height: 175px;
}

.slid-bar-fst{
    
    height: 175px;
    background-color: #5e068a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slid-bar-sec{
    width: 100%;
    height: 175px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slide-img img{
    width:60%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sldr-img{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}
.silde-txt{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.silde-txt:hover{
    color: #5e068a;
}
.slide-img{
    width:200px;
    height: 170px;
    margin: 0 12px;
    perspective: 100px;
    transform: scale(1);
    transition:0.4s all;
}
.slide{
    overflow: hidden;
}
.slide-main{
    width:calc(200px*12);
    height:175px;
    display: flex;
    align-items: center;
    animation: slide-bar 40s;
    overflow: hidden;
}
@keyframes slide-bar{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*4));
    }
}
.slide-img:hover{
    color: #5e068a;
    transform: scale(1.2);
}
.crs-slid-main{
    width:100%;
    height: 175px;
}
.crs-slid{
    width:25%;
    height: 125px;
}
.crs-img{
    width:25%;
    height: 125px;
}
.service{
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url(../images/services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.service-div{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:991px){
    .service-div{
       margin-top: 160px;
    }
}
.service-crd{
    margin-top: 15%;
}
.service-icon{
    font-size: 75px;
    color: white;
    text-align: center;
}
.dialog{
    background-color: #f5f5f5;
    width: 100%;
    height:auto;
}
.qut-container{
    display: flex;
    align-items: center;
    justify-content: center;
}  
.qut-colum{
    display: grid;
    place-items: center;
    padding-top:150px;

}
.qut-heading{
    color: #5e068a;
    font-weight: bold;
}
.profile-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;


}
.profile-main{
    display: flex;
    width: 230px;
    height: 50px;
    align-items: center;
    color: #5e068a;
}
.qut-txt{
    width: 85%;
    margin-top: 17%;
   
}
.gallary{
    background-color: white;
    width: 100%;
    height: 600px;
}
.gallary-head{
    text-align: center;
    margin-top: 80px;
}
.gallary-head-1{
    color: #5e068a;
}
.gallary-content{
    text-align: center;
    color: rgb(54, 55, 56);
}
.gallary-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 230px;
}
.gallary-cards{
    width:200px;
    height: 200px;
    background-color: black;
    transition: 0.2s all;
    transform: scale(1);

}
.gallary-cards:hover{
    transform: scale(1.1);
}
.whatsapp{
    width:100%;
    height: 120px;
    background-color:#5e068a38;
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-num{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e068a;
    text-decoration: none;
}
.text{
    text-decoration: none;
    color: #5e068a;
}
.footer-main{
    width: 100%;
    height:auto;
    background-color: #1e012c;
}
.footer-img{
    display: grid;
    place-items: center;
    margin-top:45%;

}
.footer-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.footer-icon-stl{
    color: white;
    font-size: 30px;
    transform: scale(1);
    transition: 0.3s all;
}
.footer-icon-stl:hover{
    color: #5e068a;
    transform: scale(1.4);
    cursor: pointer;
}
.single-footer-widget{
    color: rgb(255, 255, 255);
    margin-top: 20%;
}
.footer-list{
    line-height: 35px;
    list-style: none;
}
.footer-list-txt{
    text-decoration: none;
    color: white;
}
.get-in-touch{
    line-height: 35px;

}
.footer-area{
    width: 100%;
    height: 50px;
    padding-top: 15px;
}
.model-input{
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin:10px 5px;
}
.modal-btn{
    background-color:#5e068a;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 10px;
}